<div class="container login" *ngIf="showForm">
  <div class="center">
    <!-- <img
      src="./assets/images/eventLogos/HDOR-Logo-2020-1.png"
      style="margin-top: 10px"
      height="50"
      width="90"
    /> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="76"
      height="76"
      fill="currentColor"
      class="bi bi-person-circle"
      viewBox="0 0 16 16"
    >
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path
        fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
      />
    </svg>
  </div>
  <hr />

  <form [formGroup]="loginForm">
    <div class="form-group margin-top-bottom">
      <label>Username</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"
            ><fa-icon [icon]="faUserCircle"></fa-icon
          ></span>
        </div>

        <input
          (blur)="trimEmailValue()"
          type="text"
          formControlName="userid"
          class="form-control"
          placeholder="Enter your email address"
          [ngClass]="{ 'is-invalid': submitted && form['userid'].errors }"
        />

        <div
          class="invalid-feedback"
          *ngIf="submitted && form['userid'].errors"
        >
          <div *ngIf="form['userid'].errors['required']">Username required</div>
          <div *ngIf="form['userid'].errors['email']">Enter valid email id</div>
        </div>
      </div>
    </div>
    <div class="form-group margin-top-bottom">
      <label>Password</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <fa-icon [icon]="faUserCircle"></fa-icon>
          </span>
        </div>
        <input
          (blur)="trimPasswordValue()"
          (click)="eyeBackground()"
          type="{{ password_field }}"
          id="password"
          placeholder="Enter your password..."
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
        />
        <div class="input-group-append">
          <span
            class="input-group-text {{ eyeBackgroundCss }}"
            id="basic-addon1"
          >
            <fa-icon [icon]="faLock"></fa-icon>
          </span>
        </div>
        <div
          *ngIf="submitted && form['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="form['password'].errors['required']">
            Login Password Required
          </div>
          <div *ngIf="form['password'].errors['minlength']">
            Password must be at least 8 characters long
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-top-bottom">
      <div style="width: 100%; text-align: center">
        <button mat-raised-button color="primary" (click)="loginWithPassword()">
          Login
        </button>
      </div>
    </div>
  </form>
</div>
