<div class="mt-2 align-items-center d-flex borderBottom" mat-dialog-title>
  <div class="w-50 text-left">
    <h2 class="mb-0 text-primary">{{ data.dialogeType | uppercase }}</h2>
  </div>
  <div
    class="text-end w-50 fs-4 cursor-pointer"
    (click)="close()"
    aria-label="Close"
  >
    <mat-icon>close</mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <span class="fs-bold fs-6">{{ data.msg }}</span>
</div>
<div mat-dialog-actions class="text-end justify-content-end">
  <button mat-raised-button color="warn" (click)="clickedYes()">Yes</button>
  <button mat-raised-button color="primary" (click)="close()">No</button>
</div>
