<div class="footer-wraper">
  <div id="footer-2" class="row footer-width p-4">
    <div
      id="footer-2-1"
      class="col-md-6 copyright text-align-for-footer-2-1"
      [innerHTML]="
        'Copyright 2023. Powered by Pawan Kumar Singh (Front End Developer).'
      "
    ></div>
    <div id="footer-2-2" class="col-md-6 text-align-for-footer-2-2">
      <a href="https://twitter.com/Pawan11oct" target="_blank">
        <fa-icon
          [icon]="faTwitter"
          class="footer-icon-color twiter-color"
        ></fa-icon>
      </a>
      <a href="https://www.facebook.com/Pawan.k.don4u" target="_blank">
        <fa-icon
          [icon]="faFacebook"
          class="footer-icon-color fb-color"
        ></fa-icon>
      </a>
      <a href="https://www.instagram.com/pawan11oct/" target="_blank">
        <fa-icon
          [icon]="faInstagram"
          class="footer-icon-color insta-color"
        ></fa-icon>
      </a>
      <a
        href="https://www.youtube.com/channel/UCdcnL1JDGMpg5fuYTHJ3NuA"
        target="_blank"
      >
        <fa-icon
          [icon]="faYoutube"
          class="footer-icon-color yt-color"
        ></fa-icon>
      </a>
      <!-- <a href="https://wa.me/917827277613" target="_blank">
        <fa-icon
          [icon]="faWhatsapp"
          class="footer-icon-color wa-color"
        ></fa-icon>
      </a> -->
    </div>
  </div>
</div>
