.imageStandard {
  aspect-ratio: 8/4;
  object-fit: contain;
  width: 130px;
}
.input-visibility {
  // display: none;
  visibility: hidden;
}
.flex-wrap-33 {
  flex: 0 0 32%;
  max-width: 32%;
}
.removePostionLocation {
  top: -2px;
  left: 132px;
}
.w-10 {
  width: 15%;
}
.top-30 {
  top: 30% !important;
}
